@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@view-transition {
  navigation: auto;
}
:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;

  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.0984 0.0124 174.8359);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.0984 0.0124 174.8359);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.0984 0.0124 174.8359);
  --primary: oklch(0.5024 0.0992 160.9671);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8545 0.0172 168.4229);
  --secondary-foreground: oklch(0.3338 0.0213 167.0690);
  --muted: oklch(0.9631 0.0017 145.5619);
  --muted-foreground: oklch(0.4572 0.0199 167.7182);
  --accent: oklch(0.7976 0.0414 168.3829);
  --accent-foreground: oklch(0.2418 0.0215 164.4631);
  --destructive: oklch(0.5495 0.2028 31.5028);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9279 0.0085 168.7411);
  --input: oklch(0.9279 0.0085 168.7411);
  --ring: oklch(0.5024 0.0992 160.9671);
  --chart-1: oklch(0.6529 0.0365 65.6593);
  --chart-2: oklch(0.5286 0.0305 54.1604);
  --chart-3: oklch(0.7681 0.0305 64.0100);
  --chart-4: oklch(0.8556 0.0221 76.5109);
  --chart-5: oklch(0.9362 0.0137 78.2611);
  --sidebar: oklch(0.8450 0.1430 164.9780);
  --sidebar-foreground: oklch(0.1450 0 0);
  --sidebar-primary: oklch(0.2972 0 0);
  --sidebar-primary-foreground: oklch(0.9790 0.0210 166.1130);
  --sidebar-accent: oklch(0.9050 0.0930 164.1500);
  --sidebar-accent-foreground: oklch(0.1450 0 0);
  --sidebar-border: oklch(0.2620 0.0510 172.5520);
  --sidebar-ring: oklch(0.7650 0.1770 163.2230);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #6c6c6c;
  --shadow-2xs: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.05);
  --shadow-xs: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.05);
  --shadow-sm: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.10), 0 1px 2px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.10), 0 1px 2px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-md: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.10), 0 2px 4px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-lg: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.10), 0 4px 6px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-xl: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.10), 0 8px 10px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-2xl: 0 1px 4px 0px hsl(0 0% 42.3529% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9855 0.0034 174.4852);
  --card: oklch(0 0 0);
  --card-foreground: oklch(0.9855 0.0034 174.4852);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9855 0.0034 174.4852);
  --primary: oklch(0.5024 0.0992 160.9671);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3076 0.0134 173.2498);
  --secondary-foreground: oklch(0.8376 0.0148 169.1636);
  --muted: oklch(0.1579 0.0017 196.9874);
  --muted-foreground: oklch(0.7508 0.0178 168.3202);
  --accent: oklch(0.3935 0.0341 166.9122);
  --accent-foreground: oklch(0.8937 0.0180 170.0372);
  --destructive: oklch(0.6055 0.2254 31.3620);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2781 0.0157 168.8969);
  --input: oklch(0.2781 0.0157 168.8969);
  --ring: oklch(0.5024 0.0992 160.9671);
  --chart-1: oklch(0.9362 0.0137 78.2611);
  --chart-2: oklch(0.8556 0.0221 76.5109);
  --chart-3: oklch(0.7681 0.0305 64.0100);
  --chart-4: oklch(0.5286 0.0305 54.1604);
  --chart-5: oklch(0.6529 0.0365 65.6593);
  --sidebar: oklch(0.2620 0.0510 172.5520);
  --sidebar-foreground: oklch(0.9549 0.0076 61.4515);
  --sidebar-primary: oklch(0.9549 0.0076 61.4515);
  --sidebar-primary-foreground: oklch(0.5960 0.1450 163.2250);
  --sidebar-accent: oklch(0.3780 0.0770 168.9400);
  --sidebar-accent-foreground: oklch(0.9549 0.0076 61.4515);
  --sidebar-border: oklch(0.7650 0.1770 163.2230);
  --sidebar-ring: oklch(0.9050 0.0930 164.1500);
  --font-sans: Alan Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Asul, ui-serif, serif;
  --font-mono: "Indie Flower", cursive;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #2d2d2d;
  --shadow-2xs: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.05);
  --shadow-xs: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.05);
  --shadow-sm: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.10), 0 1px 2px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.10), 0 1px 2px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-md: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.10), 0 2px 4px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-lg: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.10), 0 4px 6px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-xl: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.10), 0 8px 10px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-2xl: 0 1px 4px 0px hsl(0 0% 17.6471% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --header-height: 4rem;

  --font-pricedown-bl: var(--font-pricedown-bl);

  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }

  --animate-float-background: floatBackground 20s ease-in-out infinite;

  @keyframes floatBackground {
    0% {
        transform: translateZ(0) scale(1.1)
    }

    25% {
        transform: translate3d(-10px,10px,0) scale(1.1)
    }

    50% {
        transform: translate3d(0,-10px,0) scale(1.1)
    }

    75% {
        transform: translate3d(10px,10px,0) scale(1.1)
    }

    to {
        transform: translateZ(0) scale(1.1)
    }
}
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply min-h-screen overflow-x-hidden bg-background text-foreground font-sans antialiased;
  }
}



.splash-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 100;
  transition: all .8s cubic-bezier(.4,0,.2,1);
  padding: 2rem;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: #000;
  overflow: hidden;
  will-change: opacity,transform
}

.splash-screen:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid transparent;
  background: linear-gradient(to right,#00ff8000,#00ff8033,#00ff8000);
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 101;
  transition: all .3s ease
}

.splash-screen:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 100px #00ff8026,inset 0 0 60px #00ff801a,inset 0 0 30px #00ff800d;
  pointer-events: none;
  z-index: 101;
  transition: all .3s ease
}

.splash-background {
  position: fixed;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  background-image: url('/bana-fat.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  will-change: transform;
  animation: floatBackground 20s ease-in-out infinite;
  transform: translateZ(0)
}

.splash-background:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 100px #00ff8026,inset 0 0 60px #00ff801a,inset 0 0 30px #00ff800d;
  transition: all .3s ease
}

.splash-screen:has(.confirm-button:hover) .splash-background:before {
  box-shadow: inset 0 0 150px #00ff804d,inset 0 0 100px #00ff8033,inset 0 0 50px #00ff801a
}

.splash-screen .confirm-button {
  position: relative;
  max-width: min(300px,50vw);
  cursor: pointer;
  margin-top: -2rem;
  padding: 1rem 2rem;
  background: #000000d2;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: .75rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px #0003,inset 0 1px 1px #ffffff1a,0 0 80px #00ff8066,0 0 160px #00ff8033;
  will-change: transform,box-shadow;
  z-index: 102;
  transform: scale(1);
  transition: transform .3s cubic-bezier(.4,0,.2,1),box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1)
}

.splash-screen .confirm-button:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 15px #0000004d,inset 0 1px 1px #ffffff26,0 0 60px #00ff8099,0 0 100px #00ff8033;
  background: #0006
}

.splash-screen .confirm-button:active {
  transform: scale(1.1);
  box-shadow: 0 2px 5px #0003,inset 0 1px 1px #ffffff0d,0 0 40px #00ff8066
}

.splash-screen:has(.confirm-button:hover) .overlay:before {
  opacity: 1;
  transform: scale(1.1)
}

.splash-screen .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center,#00000059,#00000073 70%,#0009);
  z-index: 65;
  width: 100vw;
  height: 100vh
}
.splash-screen .overlay:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: radial-gradient(circle at center,rgba(0,255,128,.1) 0%,rgba(0,255,128,.05) 50%,transparent 70%);
  opacity: 0;
  transition: all .3s ease;
  transform: scale(.95);
  pointer-events: none
}

.text-border-shadow {
  text-shadow:
    4px 4px 0px #000000,
    -4px -4px 0px #000000,
    4px -4px 0px #000000,
    -4px 4px 0px #000000;
}


@keyframes page-enter {
  from {
    opacity: 0;


  }
  to {
    opacity: 1;
  }
}

@keyframes page-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::view-transition-old(page) {
  opacity: 1;
  animation: page-exit 0.3s ease-in-out forwards;
}

::view-transition-new(page) {
  opacity: 0;
  animation: page-enter 0.3s ease-in-out forwards;
}



::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

@utility corner-squircle {
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
  }
  @supports not (corner-shape: squircle) {
    corner-shape: rounded;
  }
}



.splash-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 100;
  transition: all .8s cubic-bezier(.4,0,.2,1);
  padding: 2rem;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: #000;
  overflow: hidden;
  will-change: opacity,transform
}

.splash-screen:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid transparent;
  background: linear-gradient(to right,#00ff8000,#00ff8033,#00ff8000);
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 101;
  transition: all .3s ease
}

.splash-screen:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 100px #00ff8026,inset 0 0 60px #00ff801a,inset 0 0 30px #00ff800d;
  pointer-events: none;
  z-index: 101;
  transition: all .3s ease
}

.splash-background {
  position: fixed;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  background-image: url('/bana-fat.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  will-change: transform;
  animation: floatBackground 20s ease-in-out infinite;
  transform: translateZ(0)
}

.splash-background:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 100px #00ff8026,inset 0 0 60px #00ff801a,inset 0 0 30px #00ff800d;
  transition: all .3s ease
}

.splash-screen:has(.confirm-button:hover) .splash-background:before {
  box-shadow: inset 0 0 150px #00ff804d,inset 0 0 100px #00ff8033,inset 0 0 50px #00ff801a
}

.splash-screen .confirm-button {
  position: relative;
  max-width: min(300px,50vw);
  cursor: pointer;
  margin-top: -2rem;
  padding: 1rem 2rem;
  background: #000000d2;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: .75rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px #0003,inset 0 1px 1px #ffffff1a,0 0 80px #00ff8066,0 0 160px #00ff8033;
  will-change: transform,box-shadow;
  z-index: 102;
  transform: scale(1);
  transition: transform .3s cubic-bezier(.4,0,.2,1),box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1)
}

.splash-screen .confirm-button:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 15px #0000004d,inset 0 1px 1px #ffffff26,0 0 60px #00ff8099,0 0 100px #00ff8033;
  background: #0006
}

.splash-screen .confirm-button:active {
  transform: scale(1.1);
  box-shadow: 0 2px 5px #0003,inset 0 1px 1px #ffffff0d,0 0 40px #00ff8066
}

.splash-screen:has(.confirm-button:hover) .overlay:before {
  opacity: 1;
  transform: scale(1.1)
}

.splash-screen .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center,#00000059,#00000073 70%,#0009);
  z-index: 65;
  width: 100vw;
  height: 100vh
}
.splash-screen .overlay:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: radial-gradient(circle at center,rgba(0,255,128,.1) 0%,rgba(0,255,128,.05) 50%,transparent 70%);
  opacity: 0;
  transition: all .3s ease;
  transform: scale(.95);
  pointer-events: none
}

.text-border-shadow {
  text-shadow:
    4px 4px 0px #000000,
    -4px -4px 0px #000000,
    4px -4px 0px #000000,
    -4px 4px 0px #000000;
}
