@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.0984 0.0124 174.8359);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.0984 0.0124 174.8359);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.0984 0.0124 174.8359);
  --primary: oklch(0.5024 0.0992 160.9671);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8545 0.0172 168.4229);
  --secondary-foreground: oklch(0.3338 0.0213 167.0690);
  --muted: oklch(0.9631 0.0017 145.5619);
  --muted-foreground: oklch(0.4572 0.0199 167.7182);
  --accent: oklch(0.7976 0.0414 168.3829);
  --accent-foreground: oklch(0.2418 0.0215 164.4631);
  --destructive: oklch(0.5495 0.2028 31.5028);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9279 0.0085 168.7411);
  --input: oklch(0.9279 0.0085 168.7411);
  --ring: oklch(0.5024 0.0992 160.9671);
  --chart-1: oklch(0.6529 0.0365 65.6593);
  --chart-2: oklch(0.5286 0.0305 54.1604);
  --chart-3: oklch(0.7681 0.0305 64.0100);
  --chart-4: oklch(0.8556 0.0221 76.5109);
  --chart-5: oklch(0.9362 0.0137 78.2611);
  --sidebar: oklch(0.9393 0.0137 78.2613);
  --sidebar-foreground: oklch(0.2972 0 0);
  --sidebar-primary: oklch(0.2972 0 0);
  --sidebar-primary-foreground: oklch(0.9882 0.0069 88.6415);
  --sidebar-accent: oklch(0.8716 0.0237 75.8382);
  --sidebar-accent-foreground: oklch(0.2972 0 0);
  --sidebar-border: oklch(0.8104 0.0213 81.7716);
  --sidebar-ring: oklch(0.6729 0.0167 77.0203);
  --font-sans: Alan Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Asul, ui-serif, serif;
  --font-mono: "Indie Flower", cursive;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #6C6C6C;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 1px 2px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 1px 2px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 2px 4px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 4px 6px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 8px 10px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9855 0.0034 174.4852);
  --card: oklch(0 0 0);
  --card-foreground: oklch(0.9855 0.0034 174.4852);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9855 0.0034 174.4852);
  --primary: oklch(0.5024 0.0992 160.9671);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3076 0.0134 173.2498);
  --secondary-foreground: oklch(0.8376 0.0148 169.1636);
  --muted: oklch(0.1579 0.0017 196.9874);
  --muted-foreground: oklch(0.7508 0.0178 168.3202);
  --accent: oklch(0.3935 0.0341 166.9122);
  --accent-foreground: oklch(0.8937 0.0180 170.0372);
  --destructive: oklch(0.6055 0.2254 31.3620);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2781 0.0157 168.8969);
  --input: oklch(0.2781 0.0157 168.8969);
  --ring: oklch(0.5024 0.0992 160.9671);
  --chart-1: oklch(0.9362 0.0137 78.2611);
  --chart-2: oklch(0.8556 0.0221 76.5109);
  --chart-3: oklch(0.7681 0.0305 64.0100);
  --chart-4: oklch(0.5286 0.0305 54.1604);
  --chart-5: oklch(0.6529 0.0365 65.6593);
  --sidebar: oklch(0.3798 0.0171 52.9493);
  --sidebar-foreground: oklch(0.9549 0.0076 61.4515);
  --sidebar-primary: oklch(0.9549 0.0076 61.4515);
  --sidebar-primary-foreground: oklch(0.3327 0.0165 55.7476);
  --sidebar-accent: oklch(0.4942 0.0209 59.1424);
  --sidebar-accent-foreground: oklch(0.9549 0.0076 61.4515);
  --sidebar-border: oklch(0.6074 0.0219 64.9360);
  --sidebar-ring: oklch(0.7263 0.0190 59.3735);
  --font-sans: Alan Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Asul, ui-serif, serif;
  --font-mono: "Indie Flower", cursive;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #2D2D2D;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 1px 2px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 1px 2px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 2px 4px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 4px 6px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 8px 10px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen overflow-x-hidden bg-background font-sans antialiased;
  }
}
