@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;
    --popover-foreground: 210 10% 20%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 0 0% 100%;
    --muted-foreground: 210 10% 20%;
    --card-foreground: 210 10% 20%;
    --destructive: 0 80% 50%;
    --background: 210 30% 96%;
    --foreground: 210 10% 20%;
    --secondary: 0 0% 50%;
    --popover: 210 30% 94%;
    --primary: 120 35% 45%;
    --border: 210 20% 59%;
    --accent: 45 100% 28%;
    --muted: 210 20% 80%;
    --input: 210 20% 65%;
    --card: 210 30% 98%;
    --ring: 210 10% 20%;
    --radius: 1rem;
  }

  .dark {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;
    --popover-foreground: 0 0% 90%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 0 0% 10%;
    --muted-foreground: 0 0% 80%;
    --card-foreground: 0 0% 100%;
    --destructive: 0 50% 50%;
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --secondary: 240 50% 50%;
    --popover: 0 0% 20%;
    --primary: 120 50% 36%;
    --border: 0 0% 40%;
    --accent: 60 50% 50%;
    --muted: 0 0% 30%;
    --input: 0 0% 40%;
    --card: 0 0% 5%;
    --ring: 120 50% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans antialiased;
  }
}
